
<app-calendar-modal (passData)="getData( $event )"></app-calendar-modal>
<hr>
<button class="btn" id="dropdownBasic1">
  <span class="fa fa-trash" aria-hidden="true"></span>&nbsp; Notifications</button>
<hr>
<app-calendar-view ></app-calendar-view>
<hr>
<table class="table table-hover">
  <thead class="thead">
  <tr class="bg-info">
    <th scope="col" i18n>Email</th>
    <th scope="col" i18n>Full Name</th>
    <th scope="col" i18n>Gender</th>
    <th scope="col" i18n>Account Verified</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>

<hr>

<ul>
  <li class="fa fa-plus-square" aria-hidden="true">TEXT</li>
</ul>
